<nav class="navbar navbar-expand-sm bg-light fixed-top">
    <a class="navbar-brand" href="#">Real World Forums</a>
  <ul class="navbar-nav ml-auto">

    <li class="nav-item"  text-align="right">
      <a class="nav-link" routerLink="/new" href="#">New Article</a>
    </li>
    <li class="nav-item">
      <a routerLink="/settings" class="nav-link" href="#">Settings</a>
    </li>
    <li class="navbar-Link">
      <a class="nav-link" href="#">{{currentUser?.username}}</a>
    </li>
  </ul>
</nav>
